*{ 
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "poppins";
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}


/*Inicio Doc Nuevo */
.nav{ 
 background-color: #352b20;
 display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
width: 100%;
height: auto;

}

.navLogo { 
  font-size: 1.6rem;
  color: #fff;
  font-family: "poppins", sans-serif;
  font-weight: 600;
  margin: 7px 0px;
}


.navBar { 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
}

.navBarItem { 
color: #fff;
margin: 10px;
cursor: pointer;
}

.btnIngresar { 
  color: rgb(255, 74, 61);
  font-size: 1.1rem;
  background-color:#fff ;
  padding: 5px 10px;
  border: none;
  border-radius: 1rem;
  margin: 10px 0px;
  transition: 0.5s ease;
}

.btnIngresar:hover { 
  color: #fff;
  background-color: rgb(255, 74, 61);
}

@media screen and (max-width:735px){ 

}